.containerOptions {
  height: 100%;
  width: 100%;

  .primaryOption {
    background-color: var(--primary-pallete);
  }

  .primaryOption,
  .secondaryOption {
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: .2s;
    cursor: pointer;

    a,
    i {
      color: white;
      font-weight: bold;
      font-size: 12pt;
      margin: 0 10px;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      width: 220px;
      font-size: 14pt;
    }

    i {
      font-size: 15pt;
    }
  }

  //Tom Vermelho
  .primaryOption:hover, .secondaryOption:hover {
    background-color: var(--secondary-pallete);

    i, a {
      color: var(--primary-pallete);
    }
  }

}
