.containerOptions {
  height: 100%;
  width: 100%;

  .primaryOption {
    background-color: #5C0749;
  }

  .primaryOption, .secondaryOption {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: .5s;
    cursor: pointer;

    a, i {
      color: white;
      font-weight: bold;
      font-size: 12pt;
      margin: 0 10px;
    }

    i {
      font-size: 15pt;
    }
  }

  .primaryOption:hover {
    background-image: linear-gradient(90deg,#c233a3, #97267f);
    transition: .4s;
  }
  .secondaryOption:hover {
    background-image: linear-gradient(90deg, #ac138b, #810767);
    transition: .4s;
  }
}
