<div class="containerOptions">
  <ul>
    <li *ngFor="let item of primaryOptions" class="primaryOption" [class]="item.activated ? 'activated' : ''" (click)="setMenuActivated(item.url)">
      <i class="pi {{item.icon}}"></i>
      <span>{{item.label}}</span>
    </li>
    <li *ngFor="let item of secondaryOptions" class="secondaryOption" [class]="item.activated ? 'activated' : ''" (click)="setMenuActivated(item.url)">
      <i class="pi {{item.icon}}"></i>
      <span>{{item.label}}</span>
    </li>
  </ul>
</div>
