.card-container {
  height: 220px;
  width: 400px;
  border: 2px solid var(--primary-pallete);
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
  overflow: hidden;
  margin: 10px 15px 30px;
  cursor: pointer;

  .card-header {
    height: 80px;
    width: 100%;
    background: var(--primary-pallete);
    display: flex;
    align-items: center;
    padding: 15px;

    .title {
      color: white;
      font-size: 1.3em;
      flex-wrap: wrap;
      width: 80%;
    }

    .icon-curso {
      height: 60px;
      width: 60px;
      background-image: url('../../../assets/images/hexagono-container.png');
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: white;
      }
    }
  }

  .card-body {
    width: 100%;
    height: 140px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    background-color: var(--secondary-pallete);
    color: var(--text-pallete);

    h2, h3 {
      font-weight: bold;
    }

    :last-child {
      color: var(--accent-pallete);
    }
  }
}

.card-container:hover {
  box-shadow: 0 0 20px var(--accent-pallete);
  border-color: var(--accent-pallete);
}
