.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at 1px 1px, #950074, #5e074a);

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: flipLogo 800ms linear 1500ms forwards;

    .logo {
      position: absolute;
      // top: 100px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: showLogo 4000ms linear 0s 1 forwards;
    }

    .buttons {
      margin: 100px 0;
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      animation: showButtons 4000ms linear 0s 1 backwards;

      .btnAccess {
        position: relative;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        border-radius: 10%;
        border: 4px solid white;
        font-size: medium;
        color: white;
        font-weight: 700;
        cursor: pointer;
        transition: .3s;

        .fa-solid {
          font-size: 100px;
          color: #c7c7c7;
          opacity: 58%;
        }

        .lblEntrar {
          position: absolute;
          color: #950074;
          font-size: 20px;
          text-shadow: 0.5px 0.5px 2px black, -0.5px -0.5px 2px black, 0.5px -0.5px 2px black, -0.5px 0.5px 2px black;
          cursor: pointer;
        }

        .lblRegister {
          position: absolute;
          color: white;
          font-size: 20px;
          text-shadow: 0.5px 0.5px 2px black, -0.5px -0.5px 2px black, 0.5px -0.5px 2px black, -0.5px 0.5px 2px black;
          cursor: pointer;
        }

      }

      .btnLogar {
        background-color: white;
      }


      .btnAccess:hover {
        box-shadow: 3px 3px 4px rgb(248, 171, 197);
        transform: scale(1.1);
        transition: .4s;
      }

    }

    .benefit {
      position: absolute;
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      color: white;
      animation: benefit 5000ms linear 0s 1 forwards;
      bottom: 20%;
      overflow: hidden;

      label {
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .btnBenefits {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 330px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #fff;
        font-size: 14pt;
        cursor: pointer;
        transition: .3s;
      }

      .btnBenefits:hover {
        transition: .3s;
        box-shadow: 3px 3px 4px rgb(248, 171, 197);
      }

    }

  }

  @keyframes flipLogo {
    to{
      transform: rotateY(360deg);
    }
  }

  @keyframes showLogo {
    0% {
      height: 0;
      width: 0;
    }

    25% {
      height: 350px;
      width: 350px;
    }

    40% {
      transform: none;
    }

    80% {
      height: 350px;
      width: 350px;
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-80%);
      height: 293px;
      width: 293px;
    }

  }

  @keyframes showButtons {
    0% {
      visibility: hidden;
    }

    80% {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes benefit {
    0% {
      width: 0%;
      visibility: hidden;
    }

    70% {
      width: 0%;
      visibility: hidden;
    }

    100% {
      width: 100%;
      visibility: visible;
    }
  }

  @media (max-width: 425px) {

    .content {
      height: 100%;
      justify-content: space-around !important;

      .buttons {
        flex-direction: column;
        justify-content: space-around !important;
        width: 100%;

        .btnAccess {
          height: 50px !important;
          width: 98%;
          max-width: 330px !important;
          border-radius: 10px !important;

          .fa-solid {
            display: none;
          }

        }

        .btnRegister {
          margin-top: 15px;

        }

      }

      .benefit {
        height: 205px !important;
        width: 205px !important;
        bottom: 50px;

        .btnBenefits {
          height: 150px !important;
          width: 150px !important;
          border-radius: 50% !important;
          text-align: center;

          .pi {
            display: none;
          }
        }
      }

    }

  }

}
