<div class="pageContainer">
  <div class="content">

    <div class="contentLogo">
      <img src="assets/images/logo-evolroom-branca.png" class="logo">
    </div>

    <div class="buttons">
      <div class="btnAccess btnLogar">
        <i class="fa-solid fa-door-open"></i>
        <label class="lblEntrar">ENTRAR</label>
      </div>
      <div class="btnAccess btnRegister" (click)="goToSubscriptionPlans()">
        <i class="fa-solid fa-id-card"></i>
        <label class="lblRegister" >REGISTRAR</label>
      </div>
    </div>

    <div class="benefit">
      <div class="btnBenefits"> Conheça a plataforma <i class="pi pi-arrow-right" style="position: absolute; margin-left: 30px; right: 30px;"></i></div>
    </div>

  </div>
</div>
