<div class="flex mainContainer">

  <div class="menu" *ngIf="isLogged">
    <div class="perfil">
      <img src="assets/images/perfil.jpg" alt="Foto Perfil" />
      <div class="span flex">
        <span>Ed Fícil</span>
        <i class="pi pi-cog" style="cursor: pointer;"></i>
      </div>
    </div>
    <div class="menuOptions">
      <div class="primaryOptions">
        <app-menu></app-menu>
      </div>
      <div class="exit" (click)="deslogar()">
        <i class="pi pi-sign-out"></i>
        <span>Desconectar</span>
      </div>
    </div>
  </div>

  <div class="containerPage" [ngClass]="{'containerPageFull': !menuActivated}">
    <div class="bar" *ngIf="isLogged">
      <div class="toggleMenu" [ngClass]="{'toggleMenuActivated': menuActivated}" (click)="activateMenu()">
        <div class="toggle toggle1" ></div>
        <div class="toggle toggle2" ></div>
        <div class="toggle toggle3" ></div>
        <div class="toggle toggle4" ></div>
      </div>
      <img src="assets/images/logo-evolroom-branca.png" >
    </div>
    <div class="contentPage">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
