.menu {
  height: 100%;
  width: 100%;
  border: 1px solid yellow;

  .perfil {
    height: 150px;
    width: 100%;
    border: 1px solid greenyellow;
    display: flex;
    align-items: center;

    .img {
      height: 85px;
      width: 85px;
      border-radius: 50%;
      background-color: #efefef;
      margin-left: 50px;
    }
  }

  .menuOptions {
    height: calc(100% - 150px);
    width: 100%;
    border: 1px solid aqua;

    .primaryOptions {
      height: 300px;
      width: 100%;
      background-color: #5C0749;
    }

    .secondaryOptions {
      height: 300px;
      width: 100%;
      border: 1px solid yellow;
    }

    .exit {
      height: calc(100% - 600px);
      width: 100%;
      border: 1px solid rgb(109, 240, 1);
    }
  }
}
