<div class="pageContainer">
  <div class="registerContainer">
    <div class="firstContent">

      <div class="inputContent">

        <i class="fa-sharp fa-regular fa-building-columns fa-2xl"
          style="color: #ff01c6; width: 32px; height: 32px;"></i>
        <h2>Cadastrar Instituição</h2>
        <div class="inputsContainer">
          <form class="formData" formGroup="dataForm">
            <div class="grid">

              <!-- {{dataForm.value.corporateName}} -->
              <div class="col-12">
                <div class="flex flex-column gap-2">
                  <label htmlFor="corporateName">Razão Social</label>
                  <input id="corporateName" class="inputStyle" aria-describedby="corporateName-help"
                    formControlName="corporateName" placeholder="Example Name" />
                  <small id="corporateName-help" *ngIf="false">Razão Social é um campo obrigatório.</small>
                </div>
              </div>

              <div class="col-12">
                <div class="flex flex-column gap-2">
                  <label htmlFor="cnpj">CNPJ</label>
                  <input id="cnpj" class="inputStyle" aria-describedby="cnpj-help" formControlName="cnpj"
                    placeholder="12.345.678/0001-07" />
                  <small id="cnpj-help" *ngIf="false">CNPJ é um campo obrigatório.</small>
                </div>
              </div>

              <div class="col-12">
                <div class="flex flex-column gap-2">
                  <label htmlFor="email">Email</label>
                  <input id="email" class="inputStyle" aria-describedby="email-help" formControlName="email"
                    placeholder="exampleemail@dominio.com" />
                  <small id="email-help" *ngIf="false">Email é um campo obrigatório.</small>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="telefone">Telefone</label>
                  <input id="telefone" class="inputStyle" aria-describedby="telefone-help" formControlName="telefone"
                    placeholder="(65) 9999-9999" />
                  <small id="telefone-help" *ngIf="false">Telefone é um campo obrigatório.</small>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="celular">Celular</label>
                  <input id="celular" class="inputStyle" aria-describedby="celular-help" formControlName="celular"
                    placeholder="(65) 99999-9999" />
                </div>
              </div>

            </div>
          </form>
        </div>
        <button class="btnContinue">Continuar</button>
      </div>

    </div>
    <div class="imgContent">
      <div class="imgFundo">
        <img src="../../../../assets/images/logo-evolroom-branca.png" />
      </div>

    </div>
  </div>
</div>
