.container-class {
  margin-top: 15px;
  padding: 20px;

  .content-files {
    min-height: 120px;
    // border: 1px solid red;

    .file {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      width: auto;
      cursor: pointer;


      i {
        display: flex;
        justify-content: center;
        line-height: 64px;
      }

      i::before {
        font-size: 2em;
      }
    }
  }

  .content-list {
    margin-top: 60PX;
    min-height: 120px;
  }
}

@media (max-width: 700px) {
  .container-class {
    padding: 20px 0;
  }
}
