<app-breadcrumb [page]="page"></app-breadcrumb>
<div class="container">
  <div class="content-files">

  </div>
  <div class="content-list">
    <p-table [value]="students" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption"> Lista de Alunos </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.quantity }}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary"> Footer </ng-template>
  </p-table>
  </div>
</div>
