::ng-deep .containerPage {
  height: 100%;
  width: 100%;

  .filter {
    padding: 20px;
    gap: 2px;

    form {

      p-selectButton > div, p-multiSelect > div, .p-inputtext {
        width: 100%;
        display: flex;
      }
    }

    form > div {
      padding: 10px;

      label {
        padding-bottom: 10px;
      }
    }


  }

  .contentPage {

    .categorieDesc {
      font-size: 24pt;
      padding: 1em;
      color: #888;
      text-shadow: 1px 1px 3px #efefef;
    }

    .games-content {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
    }
  }

}
