<div class="containerPage">
  <div class="filter">
    <form class="grid" formGroup="filter">

      <div class="col col-md-5 col-lg-4">
        <p-multiSelect [options]="matters" formControlName="matters" optionLabel="label"
          placeholder="Matérias"></p-multiSelect>
      </div>

      <div class="col col-md-4 col-lg-4">
        <p-multiSelect [options]="types" formControlName="types" optionLabel="label"
          placeholder="Tipos de Jogos"></p-multiSelect>
      </div>

      <div class="col col-md-4 col-lg-4 align-items-center">
        <p-selectButton [options]="paymentOptions" formControlName="font" [multiple]="true" optionLabel="label"
          optionValue="value"></p-selectButton>
      </div>

    </form>
  </div>
  <div class="contentPage">


    <div style="display: flex; justify-content: space-around; width: 100%;">
      <span class="categorieDesc">Mais Populares</span>
    </div>

    <div class="games-content">

    </div>
  </div>
</div>
