::ng-deep .containerPage {
  height: 100%;
  width: 100%;

  .filter {
    padding: 20px;
    gap: 2px;

    form {

      p-selectButton > div, p-multiSelect > div, .p-inputtext {
        width: 100%;
        display: flex;
      }
    }

    form > div {
      padding: 10px;

      label {
        padding-bottom: 10px;
      }
    }


  }

}
