table {
  width: 100%;
  color: var(--text-pallete);

  th, td {
    border-right: 1px solid #777777;
    padding: 10px;
    // display: flex;
  }

  tr th:last-child, tr td:last-child {
    border: none;
  }

  thead {
    tr {
      background-color: var(--primary-pallete);

      th {
        padding: 10px;
        color: white;
      }
    }

  }

  tbody tr:nth-child(even) {
    background-color: var(--secondary-pallete);
    transition: .3s;

  }

  .contentAction {
    display: flex;
    justify-content: center;
    gap: 15px;

    .buttonAction {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  }
}
}


